@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Gluten&family=IBM+Plex+Sans:wght@300;500&family=Lato:wght@300&family=Lora&family=Montserrat&family=Noto+Sans:wght@400;600&family=Onest:wght@400;600&family=Open+Sans:wght@400;700&family=PT+Serif:wght@400;700&family=Poppins:wght@200;300;500;700&family=Roboto+Condensed:wght@400;500&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&family=Ubuntu:wght@400;500&display=swap');

:root {
  --font-family: 'Roboto Condensed', sans-serif;
  --black-background : #000000;
  --grey-background : #3f3e3e;
  --whitishGrey-background : #f4f4f4;
}

.cartContainer {
  display: flex;
  padding: 0.5rem;
  position: relative;
  background-color: var(--grey-background);
}

.itemsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
  width: 60%;
}

.productContainer {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem;
  background-color: var(--whitishGrey-background);
  margin:0.5rem 1rem;
  border-radius: 15px;
  text-align: center;
}

.productContainer:hover {
  box-shadow: 0 0 50px rgba(6, 158, 204, 0.3);
  transition: box-shadow 0.2s ease-in-out;
} 

.productInfo {
  height: 80%;
  width: 100%;
}

.buttonContainer{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 220px;
  width: 170px;
  mix-blend-mode: multiply;
  margin: 0.2rem;
}

.title {
  font-weight: 500;
  font-family: var(--font-family);
}

.price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1.1rem;
}

.buttons {
  background-color: var(--black-background);
  padding: 0.5rem;
  width: 200px;
  color: #ffffff;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-family: var(--font-family);
  cursor: pointer;
  margin: 0.3rem;
}

.priceCalculater{
  background-color: var(--whitishGrey-background);
  width: 40%;
  height: 300px;
  position: fixed;
  float: sticky;
  z-index: 100;
  left: 56%;
  top: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.priceDetails {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-family);
}

.totalPrice{
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-family);
}