@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Gluten&family=IBM+Plex+Sans:wght@300;500&family=Lato:wght@300&family=Lora&family=Montserrat&family=Noto+Sans:wght@400;600&family=Onest:wght@400;600&family=Open+Sans:wght@400;700&family=PT+Serif:wght@400;700&family=Poppins:wght@200;300;500;700&family=Roboto+Condensed:wght@400;500&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&family=Ubuntu:wght@400;500&display=swap');

:root {
  --font-family: 'Roboto Condensed', sans-serif;
  --black-background : #000000;
  --grey-background : #3f3e3e;
  --whitishGrey-background : #f4f4f4;
  --white-color : #ffffff;
}

.formContainer {
  height: 100vh;
  background-color: var(--grey-background);
}

.form {
  background-color: var(--whitishGrey-background);
  width: 50%;
  margin:  auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.customerInfo {
  display: flex;
  flex-direction: column;
}

.paymentDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.heading {
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-family: var(--font-family);
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.label {
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--font-family);
  margin: 0.2rem;
}

.nameInput {
  padding: 0.5rem;
  background-color: transparent;
  font-size: 0.9rem;
  border: 2px solid black;
  width: 250px;
}

.address {
  background-color: transparent;
  border: 2px solid black;
  font-size: 0.9rem;
}

.buttons {
  background-color: var(--black-background);
  padding: 0.5rem;
  width: 200px;
  color: #ffffff;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-family: var(--font-family);
  cursor: pointer;
  margin: 0.3rem;
  text-decoration: none;
}


.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000; 
}

.popup {
  background-color: var(--whitishGrey-background);
  width: 50%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  z-index: 1001; 
}

.popup p {
  font-size: 1.2rem;
  color: var(--black-background);
  text-align: center;
  margin-bottom: 20px;
}

.popup button {
  background-color: var(--black-background);
  padding: 0.5rem;
  color: #ffffff;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-family: var(--font-family);
  cursor: pointer;
  border: none;
}

@media (max-width: 768px) {
  .popup {
    width: 70%;
  }
}