@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Gluten&family=IBM+Plex+Sans:wght@300;500&family=Lato:wght@300&family=Lora&family=Montserrat&family=Noto+Sans:wght@400;600&family=Onest:wght@400;600&family=Open+Sans:wght@400;700&family=PT+Serif:wght@400;700&family=Poppins:wght@200;300;500;700&family=Roboto+Condensed:wght@400;500&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&family=Ubuntu:wght@400;500&display=swap');

:root {
  --font-family: 'Roboto Condensed', sans-serif;
  --black-background : #000000;
  --grey-background : #3f3e3e;
  --whitishGrey-background : #f4f4f4;
}

.homePage {
  background-color: var(--grey-background);
}

.heroSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.productContainer {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem;
  background-color: var(--whitishGrey-background);
  margin: 1rem;
  border-radius: 20px;
  text-align: center;
}

.productContainer:hover {
  box-shadow: 0 0 50px rgba(6, 158, 204, 0.3);
  transition: box-shadow 0.2s ease-in-out;
} 



.productInfo {
  height: 80%;
  width: 100%;
}

.buttonContainer{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 250px;
  width: 200px;
  mix-blend-mode: multiply;
  margin: 0.2rem;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--whitishGrey-background);
}

.price {
  font-family: var(--whitishGrey-background);
  font-weight: 500;
  font-size: 1.2rem;
}

.buttons {
  background-color: var(--black-background);
  padding: 0.6rem;
  width: 200px;
  color: #ffffff;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-family: var(--whitishGrey-background);
  cursor: pointer;
  margin-top: 0.3rem;
}