@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Gluten&family=IBM+Plex+Sans:wght@300;500&family=Lato:wght@300&family=Lora&family=Montserrat&family=Noto+Sans:wght@400;600&family=Onest:wght@400;600&family=Open+Sans:wght@400;700&family=PT+Serif:wght@400;700&family=Poppins:wght@200;300;500;700&family=Roboto+Condensed:wght@400;500&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&family=Ubuntu:wght@400;500&display=swap');


:root {
  --font-family: 'Roboto Condensed', sans-serif;
  --black-background : #000000;
  --grey-background : #3f3e3e;
  --whitishGrey-background : #e2e8f0;
  --white-color : #ffffff;
}

.loginContainer {
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--whitishGrey-background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-family);
  position: relative;
}

.brand{
  color:  rgb(61, 61, 248);
  font-family: var(--font-family);
}

.heading{
  font-size: 40px;
  font-weight: 500;
}

.popup{
  font-size: 1.2rem;
  font-family: var(--font-family);
  border: 1px solid var(--black-background);
  background-color: rgb(91, 240, 91);
  position: absolute;
  top: 3rem;
  width: 400px;
  padding: 1.1rem;
  text-align: center;
  font-weight: 500;
}

.form{
  width: 500px;
  height: 300px;
  display: flex;  
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-direction: column;
}

.inputContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.input{
  padding: 0.5rem;
  width: 200px;
  /* font-size: 1.1rem; */
}

.loginButton {
  width: 100%;
}

.loginButton{
  width: 215px;
  background-color: rgb(61, 61, 248);
  color: black;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
}

